<header class="stickyHeader row">
    <div class="col-md-12 col-lg-8">
        <h1>Karnival</h1>
    </div>
    <div class="col-md-10 col-lg-3">
        <app-header (emitSearchValue)="receiveSearcVal($event)"></app-header>
    </div>
    <div class="col-md-2 col-lg-1 mt-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" [checked]="isSwitchOn" (change)="onChange($event)">
            <label class="form-check-label" for="flexSwitchCheckChecked">{{isSwitchOn?' Standard' :' Gif'}}</label>
        </div>
    </div>
</header>

<div class="content" ngxUiLoaderBlurred>
    <div class="row m-2 mt-5">
        <ng-container *ngFor="let pokemon of pokemonData">
            <div class="col-md-6 col-lg-3" *ngIf="onTextSearch==='' || pokemon.name.toLowerCase().includes(onTextSearch)">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="card-body row width" (click)="getFullDetails(pokemon)">
                        <div class="col-12 center">
                            <h3>{{pokemon?.name}}</h3>
                        </div>
                        <div class="col-8">
                            <p>Heigth : {{pokemon?.height}}</p>
                            <p>Weigth : {{pokemon?.weight}}</p>
                            <p>Base Exp : {{pokemon?.base_experience}}</p>
                        </div>
                        <div class="col-4">
                            <img *ngIf="isSwitchOn" [src]="pokemon?.sprites?.front_default" alt="Image">
                            <img *ngIf="!isSwitchOn" src="https://projectpokemon.org/images/normal-sprite/{{pokemon?.name}}.gif" alt="pokemon Gif">
                        </div>
                        <ng-container class="row" *ngFor="let type of pokemon?.types">
                            <h6 class="col-lg-6 typeClass">{{type?.type?.name}}</h6>
                        </ng-container>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="row m-2 mt-2">
        <app-pagination
        [totalItems]="totalItemsfromAPI"
        [itemPerPage]="itemPerPage"
        [currentPage]="currentPage"
        (onClick)="onPageChange($event)"
        ></app-pagination>
    </div>
</div>
